.middle3{
    top: 10%;
    position: absolute;
    left: 5%;
}
.bdn {
    position: relative;
    display: block;
    color: #0e7896;
    font-size: 14px;
    text-decoration: none;
    margin: 30px 0;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
    border: 2px solid var(--orange);
    padding: 14px 50px;
}

.bdn::before{
    background: var(--orange);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.6s ease;
}
.bdn1::before {
    width: 0;
    height: 100%;
}
.bdn1:hover::before{
    width: 100%;
}
.bdn2::before{
    width: 100%;
    height: 0;
}
.bdn2:hover::before{
    height: 100%;
}
.bdn3::before{
    width: 100%;
    height: 0;
    transform: translate(-70%, -80%) rotate(45deg);
}
.bdn3:hover::before{
    height: 380%;
}
.bdn4::before{
    width: 100%;
    height: 0;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.bdn4:hover::before{
    height: 380%;
}